.env
.idea/
# -----------------------
# Python
# -----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env          # Локальные переменные окружения
*.venv/        # Виртуальное окружение
env/
venv/
.Python

# -----------------------
# PyCharm
# -----------------------
.idea/
*.iml
*.iws
*.ipr
.DS_Store

# -----------------------
# Alembic
# -----------------------
# Коммитим alembic/versions/* и alembic.ini
# Игнорируем все остальные локальные артефакты Alembic
alembic/__pycache__/
alembic/*.pyc

# -----------------------
# Frontend (если React/Vue/Angular)
# -----------------------
node_modules/
dist/
build/
*.log
*.tmp
*.swp

# -----------------------
# OS
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Misc
# -----------------------
*.sqlite3
*.db
*.bak